<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Digital D4</display-name>
	<description>
		Design, Develop, Deploy, D4
	</description>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>
			30
     	</session-timeout>
     </session-config>
	
	<context-param>
		<param-name>company</param-name>
		<param-value>Digital D4</param-value>
	</context-param>
	
	<context-param>
		<param-name>website</param-name>
		<param-value>budget.digitald4.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbdriver</param-name>
		<param-value>org.gjt.mm.mysql.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>dd4_user</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbpass</param-name>
		<param-value>getSchooled85</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailserver</param-name>
		<param-value>mail.digitald4.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailuser</param-name>
		<param-value>dd4_user</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailpass</param-name>
		<param-value>getSchooled85</param-value>
	</context-param>
