<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<display-name>Digital D4</display-name>
	<description>
		Design, Develop, Deploy, D4
	</description>

  <servlet>
    <servlet-name>clicktracker</servlet-name>
    <servlet-class>com.digitald4.clicktracker.server.ClickTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clicktracker</servlet-name>
    <url-pattern>/ct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>API Service Servlet</servlet-name>
    <servlet-class>com.digitald4.clicktracker.server.ApiServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>API Service Servlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>dbdriver</param-name>
		<param-value>org.gjt.mm.mysql.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>dd4_user</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbpass</param-name>
		<param-value>getSchooled85</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailserver</param-name>
		<param-value>mail.digitald4.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailuser</param-name>
		<param-value>dd4_user</param-value>
	</context-param>
	
	<context-param>
		<param-name>emailpass</param-name>
		<param-value>getSchooled85</param-value>
	</context-param>

  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost/clicktracker?autoReconnect=true</param-value>
  </context-param>
</web-app>
